# IGNORE CHECKPOINTS AND PYCACHE
*.pth

# IGNORE PYCACHE
*.pyc 

# IGNORE EXPERIMENTS
/models/CLAM/OLD_EXPERIMENTS
/models/CLAM/results
/models/CLAM/eval_results

# IGNORE FEATURE ENCODERS
/models/feature_encoders

# IGNORE HYDRA OUTPUTS
/models/CLAM/outputs
/models/CLAM/multirun
/models/CLAM/intermediate_fusion/multirun
/models/CLAM/intermediate_fusion/outputs
/outputs
/models/CLAM/age_fusion/outputs