# IGNORE CHECKPOINTS AND PYCACHE
*.pth

# IGNORE PYCACHE
*.pyc 

# IGNORE EXPERIMENTS
/models/CLAM/results
/models/CLAM/eval_results

# IGNORE FEATURE ENCODERS
/models/feature_encoders

# IGNORE HYDRA OUTPUTS
/outputs
/data_utilities/outputs
/models/CLAM/outputs
/models/CLAM/multirun
/models/CLAM/intermediate_fusion/multirun
/models/CLAM/intermediate_fusion/outputs

# IGNORE PYTHON SCRIPTS
testing_features.py
testing_images.py
print_patches.py
