# IGNORE CHECKPOINTS AND PYCACHE
*.pth

# IGNORE PYCACHE
*.pyc 

# IGNORE EXPERIMENTS
/models/CLAM/OLD_EXPERIMENTS

# IGNORE FEATURE ENCODERS
/models/feature_encoders

# IGNORE HYDRA OUTPUTS
/models/CLAM/outputs
/models/CLAM/multirun